<!DOCTYPE html>
<html>
<head>
    <title>Liste des Docteurs</title>
</head>
<body>
    <h1>Liste des Docteurs</h1>
    <form method="get" action="/Doco/search">
        <div>
            <label for="query">Recherche</label>
            <input type="text" id="query" name="query">
        </div>
        <div>
            <button type="submit">Search</button>
        </div>
    </form>
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="docteurs : ${docteurs}">
                <td th:text="${docteurs.nom}"></td>
                <td th:text="${docteurs.prenom}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
